// ## Colors

// ### Primary

$cyan: hsl(180, 66%, 49%);
$dark-violet: hsl(257, 27%, 26%);

$background-main : hsl(230, 25%, 95%);

// ### Secondary

$red: hsl(0, 87%, 67%);

// ### Neutral

$gray: hsl(0, 0%, 75%);
$grayish-violet: hsl(257, 7%, 63%);
$very-dark-blue: hsl(255, 11%, 22%);
$very-dark-violet: hsl(260, 8%, 14%);

#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.app {

  .hidden {
    display: none;
  }

  .header {
    display: flex;
    justify-content: space-between;
    color: black;
    padding: 1rem 1rem;
    align-items: center;
    position: relative;

    .mobile-navigation {
      position: absolute;
      background-color: $dark-violet;
      color: white;
      width: 74%;
      top: 74px;
      padding: 2rem 2rem;
      border-radius: 10px;

      nav {
        padding-bottom: 2rem;
        border-bottom: 1px solid $gray;
        ul {
          display: flex;
          flex-direction: column;
          gap: 1.3rem;
          li {
            a {
              color: #fff;
              text-decoration: none;
            }
          }
        }
      }

      .account {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        padding-top: 2rem;

        button {

          &:nth-of-type(1) {
            background-color: transparent;
            color: white;
            border: none;
            font-weight: 700;
            font-size: 1rem;
            cursor: pointer;
          }

          &:nth-of-type(2){
            background-color: $cyan;
            color: white;
            border: none;
            border-radius: 30px;
            padding: 1rem 2rem;
            font-weight: 700;
            font-size: 1rem;
            cursor: pointer;
          }
        }
      }
    }
    
    p {
      font-weight: 700;
      font-size: 1.5rem;
    }
  }

  main {
    // padding: 0 1rem;
    background-color: white;
  
    .hero{
      width: 90%;
    }

    .more-than {
      margin-top: 2rem;
      width: 90%;
      margin-inline: auto;

      h1 {
        color: $very-dark-violet;
      }

      p {
        color: $gray;
        margin-top: 1rem;
      }

      button {
        background-color: $cyan;
        color: white;
        border: none;
        border-radius: 30px;
        padding: 1rem 2rem;
        margin-top: 2rem;
        font-weight: 700;
        font-size: 1rem;
        cursor: pointer;
      }
    }

    .shortener-forms {
      margin: 4rem 0 0;
      width: 80%;
      margin-inline: auto;

      form {
        background-color: $dark-violet;
        border-radius: 10px;
        padding: 1rem 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;

        button, input {
          border: none;
          border-radius: 5px;
          padding: .5rem 1rem;
          font-size: 1rem;
          font-weight: 700;
        }

        input {
          &::placeholder {
            color: $grayish-violet;
            font-weight: 400;
          }
        }

        button {
          background-color: $cyan;
          color: white;
          cursor: pointer;
          width: 100%;
        }
      }

    }

    .statistics {
      background-color: $background-main;
      padding:4rem 2rem 4rem;


      h2 {
        margin-bottom: 1.5rem;
      }

      & > p {
        color: $grayish-violet;
        margin-bottom: 4rem;
      }
      
      .cards {
        display: flex;
        flex-direction: column;
        gap: 4rem;

        .card {
          background-color: white;
          border-radius: 10px;
          padding: 3rem 1rem;
          display: flex;
          flex-direction: column;
          justify-content: center;
          gap: 1rem;
          position: relative;
          align-items: center;

            h3 {
              color: $very-dark-blue;
              font-size: 20px;
            }

            .image {
              background-color: $dark-violet;
              width: fit-content;
              width: 4.1rem;
              height: 4.1rem;
              border-radius: 50%;
              display: flex;
              align-items: center;
              justify-content: center;
              position: absolute;
              top: -35px;
              img {
                width: 2rem;
                height: 2rem;
              }
            }

            p {
              color: $grayish-violet;
            }
        }
      }

    }
  }

  footer {

    .boost {
      background-color: $very-dark-violet;
      padding: 4rem 2rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2rem;

      background-image: url('/bg-boost-mobile.svg');

      h2 {
        color: white;
      }

      button {
        background-color: $cyan;
        color: white;
        border: none;
        border-radius: 30px;
        padding: 1rem 2rem;
        font-weight: 700;
        font-size: 1rem;
        cursor: pointer;
      }
    }

    .bottom {
      background-color: $very-dark-violet;
      color: #fff;
      padding: 3rem 0;

      .logo-container {
        padding: 0 0 3rem;

        p {
          font-size: 2rem;
          font-weight: 700;
        }
      }

      .links-title {
        font-weight: 700;
        font-size: 1.2rem;
        margin-bottom: 1rem;
      }

      .features {
        margin-bottom: 3rem;
        ul {
          display: flex;
          flex-direction: column;
          gap: 1rem;

          li {
            color: $gray;
            font-size: 1rem;
            font-weight: 400;
          }
        }
      }

      nav {

        &:first-of-type {
          margin-bottom: 2.5rem;
        }

        ul {
          display: flex;
          gap: 1rem;
          flex-direction: column;
          li {
            a {
              color: $gray;
              font-size: 1rem;
              font-weight: 400;
              cursor: pointer;
              text-decoration: none;
            }
          }
        }
      }

      .social {
        margin-top: 2rem;
        display: flex;
        justify-content: center;

        ul {
          display: flex;
          gap: 1rem;
          a {
            cursor: pointer;
          }
        }
      }

    }

  }
}


