// ## Colors

// ### Primary

$cyan: hsl(180, 66%, 49%);
$dark-violet: hsl(257, 27%, 26%);

$background-main : hsl(230, 25%, 95%);

// ### Secondary

$red: hsl(0, 87%, 67%);

// ### Neutral

$gray: hsl(0, 0%, 75%);
$grayish-violet: hsl(257, 7%, 63%);
$very-dark-blue: hsl(255, 11%, 22%);
$very-dark-violet: hsl(260, 8%, 14%);


$custom-max-width: 1080px;

@mixin desktop {
  @media (min-width: 768px) {
    @content;
  }
}



#root {
  margin: 0 auto;
  text-align: center;
}

.app {

  button.hoovered {
    transition: all .3s ease-in-out;
    &:hover {
      background-color: rgb(170	225	225	) !important;
    }
  }

  .hidden {
    display: none;
  }

  .header {
    display: flex;
    justify-content: space-between;
    color: black;
    padding: 1rem 1rem;
    align-items: center;
    position: relative;
    max-width: $custom-max-width;
    margin-inline: auto;

    .logo-container-header {
      display: flex;
      align-items: center;
      gap: 3rem;
    }

    .desktop-nav {
      display: none;

      @include desktop {

        display: block;
        nav ul {
          display: flex;
          gap: 1rem;
          align-items: center;

          li {
            a {
              color: $grayish-violet;
              text-decoration: none;
              font-weight: 700;
              font-size: 1rem;
              cursor: pointer;
              transition: color .3s ease-in-out;

              &:hover {
                color: $very-dark-violet;
              }
            }
          }
        }
      }
    }

    .account-desktop {
      display: none;

      @include desktop {
        display: flex;
        align-items: center;
        gap: 1rem;

        button {
          font-weight: 700;
          font-size: 1rem;
          cursor: pointer;
          &:nth-of-type(1) {
            background-color: transparent;
            color: $grayish-violet;
            border: none;
          }

          &:nth-of-type(2) {
            background-color: $cyan;
            color: white;
            border: none;
            border-radius: 30px;
            padding: .5rem 1rem;

          }

        }
      }
    }

    .menu {
      @include desktop {
        display: none;
      }
    }

    .mobile-navigation {
      position: absolute;
      background-color: $dark-violet;
      color: white;
      width: 74%;
      top: 74px;
      padding: 2rem 2rem;
      border-radius: 10px;

      nav {
        padding-bottom: 2rem;
        border-bottom: 1px solid $gray;
        ul {
          display: flex;
          flex-direction: column;
          gap: 1.3rem;
          li {
            a {
              color: #fff;
              text-decoration: none;
            }
          }
        }
      }

      .account {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        padding-top: 2rem;

        button {

          &:nth-of-type(1) {
            background-color: transparent;
            color: white;
            border: none;
            font-weight: 700;
            font-size: 1rem;
            cursor: pointer;
          }

          &:nth-of-type(2){
            background-color: $cyan;
            color: white;
            border: none;
            border-radius: 30px;
            padding: 1rem 2rem;
            font-weight: 700;
            font-size: 1rem;
            cursor: pointer;
          }
        }
      }
    }
    
    p {
      font-weight: 700;
      font-size: 1.5rem;
    }
  }

  main {
    // padding: 0 1rem;
    background-color: white;

    .more-than {
      margin-top: 2rem;
      width: 90%;
      margin-inline: auto;

      @include desktop {
        display: flex;
        width: 100%;
        max-width: $custom-max-width;

        .hero {
          width: 50%;
          order: 1;
        }

        .text {
          width: 50%;
          text-align: left;

          h1 {
            font-size: 4rem;
          }
        }
      }

      h1 {
        color: $very-dark-violet;
      }

      p {
        color: $gray;
        margin-top: 1rem;
      }

      button {
        background-color: $cyan;
        color: white;
        border: none;
        border-radius: 30px;
        padding: 1rem 2rem;
        margin-top: 2rem;
        font-weight: 700;
        font-size: 1rem;
        cursor: pointer;
      }
    }

    .shortener-forms {
      margin: 4rem 0 0;
      width: 80%;
      margin-inline: auto;
      position: relative;

      
      @include desktop() {
        width: 100%;
        max-width: $custom-max-width;
        margin: 9rem auto 0;
      }

      form {
        background-repeat: no-repeat;
        background-size: cover;
        background-color: $dark-violet;
        border-radius: 10px;
        position: absolute;
        background-image: url('/bg-shorten-mobile.svg');

        @include desktop(){
          background-image: url('/bg-shorten-desktop.svg');
          flex-direction: row;
          gap: 1rem;
          padding: 2rem;
          width: 100%;
          top: -50px;
        }
        padding: 1rem 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;

        button, input {
          border: none;
          border-radius: 5px;
          padding: .5rem 1rem;
          font-size: 1rem;
          font-weight: 700;
        }

        input {

          @include desktop() {
            width: 82%;
          }

          &::placeholder {
            color: $grayish-violet;
            font-weight: 400;
          }
        }

        button {
          background-color: $cyan;
          color: white;
          cursor: pointer;
          width: 100%;

          @include desktop() {
            width: 12%;
            padding: 0.8rem 0;
          }
        }
      }

    }

    .statistics {
      background-color: $background-main;
      padding:4rem 2rem 4rem;

      @include desktop() {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4rem;
        padding:10rem 0rem 4rem;
        width: 100vw;
      }

      .text {
        h2 {
          margin-bottom: 1.5rem;
        }
  
        & > p {
          color: $grayish-violet;
          margin-bottom: 4rem;

          @include desktop() {
            text-align: center;
            padding: 0 30rem;
          }
        }
        

        
      }


      .cards {
        display: flex;
        flex-direction: column;
        gap: 4rem;
        position: relative;

        &::after {
          content: "";
          height: 10px;
          width: 40%;
          background-color: $cyan;
          position: absolute;
          z-index: 1;
          top: 110px;
          left: 30%;
        }

        @include desktop() {
          flex-direction: row;
          gap: 2rem;
          max-width: $custom-max-width;
        }

        .card {
          z-index: 2;

          @include desktop() {
            text-align: left;
            align-items: flex-start;
            padding : 3rem 2rem;
            height: 170px;

            &:nth-of-type(2) {
              margin-top: 2rem;
            }

            &:nth-of-type(3) {
              margin-top: 4rem;
            }

          }



          background-color: white;
          border-radius: 10px;
          padding: 3rem 1rem;
          display: flex;
          flex-direction: column;
          justify-content: center;
          gap: 1rem;
          position: relative;
          align-items: center;

            h3 {
              color: $very-dark-blue;
              font-size: 20px;
            }

            .image {
              background-color: $dark-violet;
              width: fit-content;
              width: 4.1rem;
              height: 4.1rem;
              border-radius: 50%;
              display: flex;
              align-items: center;
              justify-content: center;
              position: absolute;
              top: -35px;

              @include desktop() {
                left: 25px;
              }

              img {
                width: 2rem;
                height: 2rem;
              }
            }

            p {
              color: $grayish-violet;
            }
        }
      }

    }
  }

  footer {

    .boost {
      background-color: $dark-violet;
      padding: 4rem 2rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2rem;
      background-size: cover;
      background-repeat: no-repeat;

      background-image: url('/bg-boost-mobile.svg');

      @include desktop() {
        background-image: url('/bg-boost-desktop.svg');
      }

      h2 {
        color: white;
      }

      button {
        background-color: $cyan;
        color: white;
        border: none;
        border-radius: 30px;
        padding: 1rem 2rem;
        font-weight: 700;
        font-size: 1rem;
        cursor: pointer;
      }
    }

    .bottom {
      background-color: $very-dark-violet;
      color: #fff;
      padding: 3rem 0;

      a {
        transition: color 0.3s ease-in-out;
      }

      a:hover {
        color: $cyan;
      }

      @include desktop(){
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: start;
        padding: 3rem 2rem;
        text-align: left;
      }

      .logo-container {
        padding: 0 0 3rem;

        p {
          font-size: 2rem;
          font-weight: 700;
        }
      }

      .links-title {
        font-weight: 700;
        font-size: 1.2rem;
        margin-bottom: 1rem;
      }

      .features {
        margin-bottom: 3rem;
        ul {
          display: flex;
          flex-direction: column;
          gap: 1rem;

          li {
            color: $gray;
            font-size: 1rem;
            font-weight: 400;
          }
        }
      }

      nav {

        &:first-of-type {
          margin-bottom: 2.5rem;
        }

        ul {
          display: flex;
          gap: 1rem;
          flex-direction: column;
          li {
            a {
              color: $gray;
              font-size: 1rem;
              font-weight: 400;
              cursor: pointer;
              text-decoration: none;
            }
          }
        }
      }

      .social {
        margin-top: 2rem;
        display: flex;
        justify-content: center;

        @include desktop() {
          margin-top: 0;
        }

        ul {
          display: flex;
          gap: 1rem;
          align-items: center;
          a {
            cursor: pointer;
            color: white;

            &:hover {
              color: $cyan;
            }
          }
        }
      }

    }

  }
}


